:root {
    --main--color: #095fb8;
    --main2-color: #95c1e8;
    --main3--: #600606;
    --bs-blue: #424D83;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #FD4032;
    --bs-orange: #F17228;
    --bs-yellow: #FFC928;
    --bs-green: #79B93C;
    --bs-teal: #53F283;
    --bs-cyan: #24FFEA;
    --bs-white: #FFFEFE;
    --bs-gray: #9E9E9E;
    --bs-gray-dark: #616161;
    --bs-primary: #A1B0FC;
    --bs-secondary: #424D83;
    --bs-success: #79B93C;
    --bs-info: #24FFEA;
    --bs-warning: #FFC928;
    --bs-danger: #FD4032;
    --bs-light: #F9FAFD;
    --bs-dark: #23242A;
    --bs-font-sans-serif: "Nunito", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
}

.about-active {
    background: var(--main--color);
}

.about-active .card-header i {
    color: #fff;
    font-size: 2.9rem;
    margin-top: 1rem;
}

.about-active hr {
    width: 20%;
    height: .5rem;
    color: #fff;
}

.about-active .card-title h5 {
    color: #fff;
    font-size: 1.8rem;
}

.about-active .card-text {
    color: var(--bs-white);
}

.about-card {
    background: #e4e7e7;
    border-color: #e4e7e7;
}

.about-card:hover {
    background: var(--main--color);
}

.about-card:hover.about-card .card-header i {
    color: #fff;
    font-size: 2.9rem;
    margin-top: 1rem;
}

.about-card:hover.about-card hr {
    width: 20%;
    height: .5rem;
    color: #fff;
}

.about-card:hover.about-card .card-title h5 {
    color: #fff;
    font-size: 1.8rem;
}

.about-card:hover.about-card .card-text {
    color: var(--bs-white);
}

.about-card .card-header i {
    color: var(--bs-dark);
    font-size: 2.9rem;
    margin-top: 1rem;
}

.about-card hr {
    width: 20%;
    height: .5rem;
    color: var(--main--color);
}

.about-card .card-title h5 {
    color: var(--bs-dark);
    font-size: 1.8rem;
}

.about-card .card-text {
    color: var(--bs-gray-dark);
}

.section-header h4 {
    font-size: 2.5rem;
    font-weight: 900;
}

.section-header button {
    background: var(--main--color);
    border-color: var(--main--color);
    color: white;
}

.about-images {
    height: 50px;
}

.join-card {
    background: transparent;
    border: none;
    outline: none;
}

.join-card .emoji {
    background: var(--main--color);
    padding: 1rem;
    border-radius: 30% 50% 70% 30% / 30% 30% 70% 70%;
    float: left;
    width: 80px;
    height: 80px;
}

.join-card .emoji i {
    font-size: 2rem;
    color: white;
}

.join-card h3 {
    margin-top: 1rem;
    font-size: 1.5rem
}

.join-card h3:hover {
    color: var(--main3--);
}

.join-card p {
    color: #333;
}

#pricingTable {
    background: url(../img/5.png);
    background-repeat: no-repeat;

}

#team {
    margin-top: -2.5rem;
}

.test-img img {
    border-radius: 50%;
}

#solution {
    max-height: 60vh;
}

.solns {
    margin-top: -6rem;
}

.sol-head {
    border-left: 4px solid var(--main3--);
    height: 20px;
}

.sol-head h5 {
    text-transform: uppercase;
    color: var(--bs-dark);
    padding-left: 4px;
}

.sol-card {
    margin-top: 1rem;
    background: var(--main3--);
    text-align: center;
    height: 50px;
    width: 100%;
    padding: .8rem;
}

.sol-card p {
    color: white;

}

.sol-not {
    margin-top: 1rem;
    background: var(--main2-color);
    text-align: center;
    height: 50px;
    width: 100%;
    padding: .8rem;
}

.sol-card p {
    color: white;

}

.accordion-container {
    margin: 10px 0;
}

.accods {
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    border: solid 1px #e9e8f3;
}

.accods .cards {
    border-radius: 0;
    margin: 0;
}

.accods .cards:first-child {
    border-bottom: solid 1px #e9e8f3;
}

.accods .cards:not(:first-of-type):not(:last-of-type) {
    border-bottom: solid 1px #e9e8f3;
}

.accods .card-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    background-color: #fff;
    border-radius: 0;
    color: #261c6a;
    padding: 36px 32px;
    border-bottom-width: 0;
}

.accods .card-header:hover {
    color: #4e22d0;
}

.accods .card:hover {
    z-index: 99999;
    box-shadow: 0 20px 40px -20px rgba(12, 5, 62, 0.4);
}

.accods .card-header span {
    display: inline-block;
    width: calc(100% - 60px);
}

.accods .card-header button {
    box-shadow: none;
    width: 30px;
    float: right;
    background: none !important;
    box-shadow: none !important;
    outline: none;
    border: none;
}

.accods .card-header button:focus {
    outline: none;
    box-shadow: none;
    background: none
}

.accods .card-header+.list-group .list-group-item:first-child {
    border-top: 1px;
}

.accordion-button {
    color: red;
}

.pr-sec {
    background: url(../img/5.png);
}

.quotes {
    background: url(../img/1.png);
}

.drops {
    background: none;
    outline: none;
    box-shadow: none;
    color: #BDBDBD;
}

.drops:hover {
    background: none;
    outline: none;
    box-shadow: none;
    color: #BDBDBD;
}

.drops:focus {
    background: none;
    outline: none;
    box-shadow: none;
    color: #BDBDBD;
}

@media screen and (max-width: 768px) {
    .navbar {
        background: var(--main--color) !important;
    }
}