{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block"
        data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="{% url 'landing' %}"><img
                    src="../../static/img/Logo/logo.png" height="140" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2">
                        <a class="nav-link fw-medium active" href="{% url 'landing' %}">Home</a>
                    </li>
                    <li class="nav-item px-2"><a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    {% if all %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            What we do
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            {% for res in all %}
                            <li><a class="dropdown-item" href="{% url 'solution' res.id %}">{{res.Category}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    </li>
                    <li class="nav-item px-2"><a class="nav-link" href="#conts">Contact
                            Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="bg-holder" style="background:linear-gradient(to right, #640404, #095fb8) !important;">
        </div>
    </section>
    <section class="cont" id="cont">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact3  px-3" style="margin-top: -3rem;">
                        <div class="row no-gutters">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-box ml-3">
                                            <h1 class="font-weight-light mt-2">Say Hello!</h1>
                                            <form class="mt-4 needs-validation" id="contactForm" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <label class="form-label">Company Name</label>
                                                            <input class="form-control" type="text" id="name"
                                                                name="name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <label class="form-label">Email Address</label>
                                                            <input class="form-control" type="email" id="email"
                                                                name="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <label class="form-label">Phone Number</label>
                                                            <input class="form-control" type="text" id="phone"
                                                                name="phone">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <label class="form-label">Message</label>
                                                            <textarea class="form-control" rows="3" id="message"
                                                                name="message"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button type="submit"
                                                            class="btn btn-danger-gradiant mt-3 text-white border-0 px-3 py-2"><span>
                                                                SUBMIT</span></button>
                                                    </div>
                                                </div>
                                                <p id="response"></p>
                                                <p id="responseNot"></p>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-shadow">
                                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg"
                                                class="img-fluid">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card mt-4 border-0 mb-4">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail pl-0">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Address</h6>
                                                            <p class=""> Nairobi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Phone</h6>
                                                            <p class=""> 0743332560
                                                                <br> 0743332560</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Email</h6>
                                                            <p class="">
                                                                info@sy-intelli.com
                                                                <br> sales@sy-intelli.com
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</main>
<script>
    $(document).on('submit', '#contactForm', function (e) {
        e.preventDefault();
        let name = $("#name").val()
        let email = $("#email").val()
        let phone = $("#phone").val()
        let message = $("#message").val()
        if (name != '' && email != '' && phone != '' && message != '') {
            $.ajax({
                type: 'POST',
                url: '{% url "landing" %}',
                data: {
                    name: name,
                    email: email,
                    phone: phone,
                    message: message,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    $("p#response").append('Successfully Sent!');
                    $("#name").val("");
                    $("#email").val("");
                    $("#phone").val("");
                    $("#message").val("");
                }
            })
        } else {
            alert('Not sent! Missing Input!!');
        }
    });
</script>

{% endblock %}