    <section class="py-0 py-xxl-6" id="help">
        <div class="bg-holder"
            style="background-image:url(../../static/img/footer/f1.png);background-position:center;background-size:cover;">
        </div>
        <div class="container">
            <div class="row min-vh-75 min-vh-xl-50 pt-10">
                {% if all %}
                <div class="col-6 col-md-4 col-xl-3 mb-3">
                    <h5 class="lh-lg fw-bold text-white">
                        What We Do</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        </li>
                        {% for res in all %}
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="{% url 'solution' res.id %}">
                                {{res.Category}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="col-6 col-md-4 col-xl-3 mb-3">
                    <h5 class="lh-lg fw-bold text-white">WORKING HOURS</h5>
                    <p class="text-light">We work 7 days a week, every day excluding major holidays. Contact us if you
                        have an emergency,
                        with our Hotline and Contact form.</p>
                </div>
                <div class="col-6 col-md-4 col-xl-3 mb-3">
                    <h5 class="lh-lg fw-bold text-white">Company</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="{% url 'landing' %}">Home</a>
                        </li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="{% url 'contact' %}">Contact
                                Us</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none"
                                href="{% url 'services' %}">Services</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 mb-3">
                    <h5 class="lh-lg fw-bold text-white">Follow Us</h5>
                    <ul class="list-unstyled list-inline mb-6 mb-md-0">
                        <li class="list-inline-item mr-2"><a class="text-decoration-none"
                                href="https://www.linkedin.com/company/73194823/admin/"><i
                                    class="lab la-linkedin-in"></i></a></li>
                        <li class="list-inline-item mr-2"><a class="text-decoration-none" href="#!"></a></li>
                        <li class="list-inline-item mr-2"><a class="text-decoration-none" href="#!"></a></li>
                        <li class="list-inline-item"><a class="text-decoration-none" href="#!"></a></li>
                    </ul>
                    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="las la-level-up-alt"
                            style="color: white; font-size: 2rem;"></i></button>
                </div>
            </div>
            <hr />
            <div class="row flex-center pb-3">
                <div class="col-md-6 order-0">
                    <p class="text-200 text-center text-md-start">All rights Reserved &copy; sy-intelli consulting,
                        {{year}}</p>
                </div>
                <div class="col-md-6 order-1">
                    <p class="text-200 text-center text-md-end"> Powered by <a class="text-200 fw-bold"
                            href="https://github.com/enockabere/SyINTELLI-OFICIAL" target="_blank">Enock Abere
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>