{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main" id="top">
    {% include 'navbar.html' %}
    <section id="home">
        <div class="bg-holder"
            style="background-image:url(../../static/img/hero/hero_bg.png);background-position:center;background-size:cover;">
        </div>
        <style>
            .all-alert {
                margin-top: -13rem !important;
            }
        </style>
        <div class="container">
            <div class="row align-items-center min-vh-50 min-vh-sm-75">
                <div class="col-md-5 col-lg-6 order-0 order-md-1">
                    <img class="w-100" id="heroImg" src="../../static/img/hero/1.png" alt="..." />
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-dismissible fade show all-alert succ" role="alert">
                        <strong>Successfully Sent!</strong>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-dismissible fade show all-alert warns" role="alert">
                        <strong>Failed!</strong> {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-7 col-lg-6 text-md-start text-center heroTexts">
                    <h1 class="text-light fs-md-5 fs-lg-6">Industry Leading IT Services Solutions</h1>
                    <p class="text-light">Deep industry expertise, diversity in IT skill sets, tailored client
                        solutions and a
                        personal touch to client challenges. </p><a class="btn btn-primary" href="#" role="button">Get
                        In
                        Touch</a>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card about-active h-100 mb-2">
                        <div class="card-header">
                            <i class="las la-eye"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Corporate Vision</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We aspire to be your one stop shop for all your Technology concerns.
                                We are ambitious enough and hence put our best foot forward! We undertake
                                end-to-end projects where there is no conflict of interest and also outsource
                                consultants wherever
                                they are required, to provide Best Practice solutions across Industries and
                                Technologies that we
                                consult in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card about-card mt-4 h-100 mb-2" id="cardOne">
                        <div class="card-header">
                            <i class="las la-lightbulb"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Our Strategy</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We expect our engagement to culminate in reducing your Overall IT operational costs,
                                Total Cost of
                                Ownership and Improve your Return on Investment.
                                We seek to be constantly ahead of technology to enable us enhance our reliability to
                                our clients from
                                every interaction. We shall employ best practices in every consultation to offer our
                                clients the best
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card about-card mt-6 h-100 mb-2">
                        <div class="card-header">
                            <i class="las la-lightbulb"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Why Choose us</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We provide a vibrant combination of strategic IT consultancy services and technology
                                skills.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-6">
                <div class="col-md-7">
                    <div class="section-header">
                        <h4>
                            About Us
                        </h4>
                        <p class="about-copy">
                            <strong>SY-INTELLI CONSULTING</strong> is an emerging group of young, honest and reliable
                            individuals
                            willing to go an
                            extra mile to put a smile on the face of our clients. We consult in Technology, ICT
                            Advisory services
                            and IT and Security Audit for banks, saccos, Microfinance, Insurance, Manufacturing, NGOs,
                            Government
                            institutions, Oil & Gas and Telcos in Kenya and Rwanda.
                            We provide a vibrant combination of strategic IT consultancy services and technology
                            skills.
                        </p>
                        <button class="btn btn-info">Learn More</button>
                    </div>
                </div>
                <div class="col-md-5 about-images">
                    <img class="w-100" src="../../static/img/about/1.png" alt="" />


                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 bg-soft-primary" id="services">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2>Customized Solutions for Every Business</h2>
                    <p class="mb-5">Our service is always affordable for everyone.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-lock"></i>
                                </div>
                                <h3>

                                    Cybersecurity and IT reviews
                                </h3>
                                <p>
                                    Vulnerability assessments, Penetration Testing, Cyber Maturity Assessment, Data
                                    privacy audit &
                                    advisory, IT Audits and Cybersecurity awareness training
                                </p>.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-desktop"></i>
                                </div>
                                <h3>

                                    IT Software and Solutions
                                </h3>
                                <p>
                                    <strong>Implementation, customization and
                                        support for the following:</strong> </br>
                                    Enterprise Resource Planning Software, Backup and disaster recovery
                                    solutions, Network equipment & solutions and IT security tools.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../static/img/service/1.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-project-diagram"></i>
                                </div>
                                <h3>

                                    IT Project consulting
                                </h3>
                                <p>
                                    <strong>Consulting and advisory on
                                        the following:</strong> </br>
                                    Project management, Quality Assurance, Post implementation reviews.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-server"></i>
                                </div>
                                <h3>

                                    IT Managed services
                                </h3>
                                <p>
                                    Start worrying less about the maintenance and support for your IT applications,
                                    databases and
                                    infrastructure. We can handle both preventive and corrective maintenance for your
                                    equipment and
                                    systems so you can concentrate more on what matter most.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5" id="pricingTable">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2>Any Copy Goes Here</h2>
                    <p class="mb-5 text-dark">Our service is always affordable for everyone. </p>
                </div>
            </div>
            <div class="row h-100">
                <div class="col-sm-6 col-xl-3 mb-3">
                    <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                        <div class="card-body">
                            <div class="text-center"><img src="../../static/img/icons/cloud-hosting.png" alt="..." />
                                <h5 class="my-3">Cybersecurity and IT reviews</h5>
                                <ul class="list-unstyled">
                                    <p>Project management, Quality Assurance, Post implementation reviews</p>
                                </ul>
                            </div>
                        </div>
                        <div class="border-top bg-white text-center pt-3 pb-0">
                            <p class="mb-0">Get started at </p>
                            <div class="d-flex justify-content-center">
                                <h3 class="fw-normal">Kshs 1000</h3><span
                                    class="d-flex align-items-center">/month</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-3">
                    <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                        <div class="card-body">
                            <div class="text-center"><img src="../../static/img/icons/cloud-hosting.png" alt="..." />
                                <h5 class="my-3">Cybersecurity and IT reviews</h5>
                                <ul class="list-unstyled">
                                    <p>Project management, Quality Assurance, Post implementation reviews</p>
                                </ul>
                            </div>
                        </div>
                        <div class="border-top bg-white text-center pt-3 pb-0">
                            <p class="mb-0">Get started at </p>
                            <div class="d-flex justify-content-center">
                                <h3 class="fw-normal">Kshs 1000</h3><span
                                    class="d-flex align-items-center">/month</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-3">
                    <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                        <div class="card-body">
                            <div class="text-center"><img src="../../static/img/icons/cloud-hosting.png" alt="..." />
                                <h5 class="my-3">Cybersecurity and IT reviews</h5>
                                <ul class="list-unstyled">
                                    <p>Project management, Quality Assurance, Post implementation reviews</p>
                                </ul>
                            </div>
                        </div>
                        <div class="border-top bg-white text-center pt-3 pb-0">
                            <p class="mb-0">Get started at </p>
                            <div class="d-flex justify-content-center">
                                <h3 class="fw-normal">Kshs 1000</h3><span
                                    class="d-flex align-items-center">/month</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-3">
                    <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                        <div class="card-body">
                            <div class="text-center"><img src="../../static/img/icons/cloud-hosting.png" alt="..." />
                                <h5 class="my-3">Cybersecurity and IT reviews</h5>
                                <ul class="list-unstyled">
                                    <p>Project management, Quality Assurance, Post implementation reviews</p>
                                </ul>
                            </div>
                        </div>
                        <div class="border-top bg-white text-center pt-3 pb-0">
                            <p class="mb-0">Get started at </p>
                            <div class="d-flex justify-content-center">
                                <h3 class="fw-normal">Kshs 1000</h3><span
                                    class="d-flex align-items-center">/month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="bg-holder"
            style="background-image:url(../../static/img/testimonial/testimonial-bg.png);background-position:center;background-size:cover;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2>Happy customers feedback</h2>
                    <p class="mb-5">Feedbacks from our happy users. Become one of them. </p>
                </div>
            </div>
            <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button"
                    data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Previous</span></a><a
                    class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button"
                    data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Next</span></a>
                <div class="row px-3 px-md-0 mt-4">
                    <div class="col-12 position-relative">
                        <ol class="carousel-indicators">
                            <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cont" id="cont">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact3 py-5 px-3">
                        <div class="row no-gutters">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-box ml-3">
                                            <h1 class="font-weight-light mt-2">Quick Contact</h1>
                                            <form class="mt-4 needs-validation" action="{% url 'landing' %} "
                                                method="post" novalidate>
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <input class="form-control" type="text" placeholder="name"
                                                                name="name" required>
                                                            <div class="invalid-feedback">
                                                                Field can't be Empty!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <input class="form-control" type="email"
                                                                placeholder="email address" name="email" required>
                                                            <div class="invalid-feedback">
                                                                Field can't be Empty!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <input class="form-control" type="text" placeholder="phone"
                                                                name="phone" required>
                                                            <div class="invalid-feedback">
                                                                Field can't be Empty!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mt-2">
                                                            <textarea class="form-control" rows="3"
                                                                placeholder="message" name="message"
                                                                required></textarea>
                                                            <div class="invalid-feedback">
                                                                Field can't be Empty!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button type="submit"
                                                            class="btn btn-danger-gradiant mt-3 text-white border-0 px-3 py-2"><span>
                                                                SUBMIT</span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-shadow">
                                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg"
                                                class="img-fluid">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card mt-4 border-0 mb-4">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail pl-0">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Address</h6>
                                                            <p class=""> Nairobi</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Phone</h6>
                                                            <p class=""> 0743332560
                                                                <br> 0743332560</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="card-body d-flex align-items-center c-detail">
                                                        <div class="mr-3 align-self-center">
                                                            <img
                                                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                                                        </div>
                                                        <div class="">
                                                            <h6 class="font-weight-medium">Email</h6>
                                                            <p class="">
                                                                info@sy-intelli.com
                                                                <br> sales@sy-intelli.com
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-lg-0 pt-md-8 py-0" id="partners">
        <div class="row">
            <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-2">
                <h2>Our Partners</h2>
                <p class="mb-5">Feedbacks from our happy users. Become one of them. </p>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-xl-between py-5 border-klean">
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a1.png" height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a2.png" height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a3.png" height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a4.png" height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a5.png" height="60" alt="..." /></div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</main>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}