{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main" id="top">
    {% include 'navbar.html' %}
    <section id="home" class="home">
        <div class="bg-holder"
            style="background-image:url(../../static/img/hero/hero_bg.png);background-position:center;background-size:cover;">
        </div>
        <div class="container">
            <div class="row align-items-center min-vh-50 min-vh-sm-75">
                <div class="col-md-5 col-lg-6 order-0 order-md-1">
                    <div id="particles">
                        <!-- <img class="w-100" id="heroImg" src="../../static/img/hero/1.png" alt="..." /> -->
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 text-md-start text-center heroTexts">
                    <h1 class="text-light fs-md-5 fs-lg-6">Industry Leading IT Services and Solutions</h1>
                    <p class="text-light">Deep industry expertise, diversity in IT skill sets, tailored client
                        solutions and a
                        personal touch to client challenges. </p><a class="btn btn-primary" href="{% url 'contact' %}"
                        role="button">Get
                        In
                        Touch</a>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card about-card h-100 mb-2">
                        <div class="card-header">
                            <i class="las la-eye"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Corporate Vision</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We aspire to be your one stop shop for all your technology concerns solutions and
                                services.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card about-card mt-4 h-100 mb-2" id="cardOne">
                        <div class="card-header">
                            <i class="las la-lightbulb"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Our Promise</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We walk with our clients through the journey of improving processes and controls in the
                                most efficient manner possible with sight of cost, performance and risk.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card about-card mt-6 h-100 mb-2">
                        <div class="card-header">
                            <i class="las la-lightbulb"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Our Mission</h5>
                                <hr>
                            </div>
                            <p class="card-text">
                                We provide a vibrant combination of strategic IT consultancy services and technology
                                skills.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-6">
                <div class="col-md-7">
                    <div class="section-header">
                        <h4>
                            About Us
                        </h4>
                        <p class="about-copy">
                            <strong>SY-INTELLI CONSULTING</strong> is a group of professionals committed to
                            offering our clients best in class services and products. We walk with our clients through
                            the journey of improving processes and controls in the most efficient manner possible. We
                            pride ourselves in consistently being adaptable to the ever changing technological and
                            cybersecurity landscape and ensuring our clients are advised accordingly.
                        </p>
                        <p>
                            Our team of consultants have a wealth of experience from various industries and are
                            committed to offering exemplary services to our clients.
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-info">Learn More</a>
                    </div>
                </div>
                <div class="col-md-5 about-images">
                    <img class="w-100" src="../../static/img/about/1.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 bg-soft-primary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2>Customized Solutions for Every Business</h2>
                    <p class="mb-5">We Offer a Wide
                        Variety of IT Services</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-lock"></i>
                                </div>
                                <h3>

                                    Cybersecurity and IT reviews
                                </h3>
                                <p>
                                    Vulnerability assessments, Penetration Testing, Cyber Maturity Assessment, Data
                                    privacy audit &
                                    advisory, IT Audits and Cybersecurity awareness training
                                </p>.
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../static/img/service/1.png" class="img-fluid" alt="" srcset="">
                    <div class="col-md-12">
                        <div class="card join-card">
                            <div class="emoji">
                                <i class="las la-desktop"></i>
                            </div>
                            <h3>

                                IT Software and Solutions
                            </h3>
                            <p>
                                <strong>Implementation, customization and
                                    support for the following:</strong> </br>
                                Enterprise Resource Planning Software, Backup and disaster recovery
                                solutions, Network equipment & solutions and IT security tools.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card join-card">
                                <div class="emoji">
                                    <i class="las la-project-diagram"></i>
                                </div>
                                <h3>

                                    IT Project consulting
                                </h3>
                                <p>
                                    <strong>Consulting and advisory on
                                        the following:</strong> </br>
                                    Project management, Quality Assurance, Post implementation reviews.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if study %}
    <section class="pt-5" id="pricingTable">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2 class="text-light">WHY SY-INTELLI? </h2>
                </div>
            </div>
            <div class="row">
                {% for res in study %}
                <div class="col-md-3 my-3">
                    <div class="card WhyCard h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{res.title}}</h5>
                            <div class="whyimg mx-auto text-center">
                                <img src="../../static/img/icons/1.png" class="img-fluid" alt="" srcset="">
                            </div>
                            <p class="card-text">
                                {{res.Description|truncatechars:90}}
                            </p>

                            <div class="whys">
                                <a href="{% url 'case' res.id %}" class="btn btn-primary"><i
                                        class="las la-arrow-right"></i>
                                    LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- <section id="team">
        <div class="bg-holder"
            style="background-image:url(../../static/img/testimonial/testimonial-bg.png);background-position:center;background-size:cover;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                    <h2>Testimonials</h2>
                    <p class="mb-5">Feedback from our clients. </p>
                </div>
            </div>
            <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row h-100">
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 mb-md-0">
                                <div class="card card-span h-100 bg-transparent">
                                    <div class="card-body my-2">
                                        <div class="d-sm-flex test-img">
                                            <img class="img-fluid me-3 me-md-2 me-lg-3"
                                                src="../../static/img/testimonial/test.png" height="80" width="80"
                                                alt="..." />
                                            <div class="flex-1 ps-2">
                                                <p class="my-3">&quot;Project management, Quality Assurance, Post
                                                    implementation reviews&quot;
                                                </p>
                                                <h6 class="mb-0 fs--1">-Enock Abere</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button"
                    data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Previous</span></a><a
                    class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button"
                    data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Next</span></a>
                <div class="row px-3 px-md-0 mt-4">
                    <div class="col-12 position-relative">
                        <ol class="carousel-indicators">
                            <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="pb-lg-0 pt-md-8 py-0" id="partners">
        <div class="row">
            <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-2">
                <h2>Our Partners</h2>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-xl-between py-5 border-klean">
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start">
                    <img src="../../static/img/partners/1.webp" height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="../../static/img/partners/2.png"
                        height="60" alt="..." /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img
                        src="../../static/img/partners/a4.png" height="60" alt="..." /></div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</main>

{% endblock %}