<nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="index.html"><img src="../../static/img/Logo/logo.png"
                height="60" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"> </span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active"
                        aria-current="page" href="#home">Home</a></li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#about">About Us</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle drops" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            What we do
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for res in all %}
                            <li><a class="dropdown-item" href="{% url 'solution' res.id %}"><i
                                        class="las la-angle-right"></i> {{res.category}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#partners">Partners</a>
                </li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#cont">Contact
                        Us</a></li>

            </ul>

        </div>
    </div>
</nav>