{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block"
        data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="{% url 'landing' %}"><img
                    src="../../static/img/Logo/logo.png" height="140" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2">
                        <a class="nav-link fw-medium active" href="{% url 'landing' %}">Home</a>
                    </li>
                    <li class="nav-item px-2"><a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle drops" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                What we do
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for res in all %}
                                <li><a class="dropdown-item" href="{% url 'solution' res.id %}"><i
                                            class="las la-angle-right"></i> {{res.Category}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </li>
                    <li class="nav-item px-2"><a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item px-2"><a class="nav-link" href="{% url 'contact' %}">Contact
                            Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="bg-holder" style="background:linear-gradient(to right, #640404, #095fb8) !important;">
        </div>
        <div class="container">
            <div class="row align-items-center min-vh-50 min-vh-sm-75">
                <div class="col-md-5 col-lg-6 order-0 order-md-1">
                    <div id="particles">
                        <!-- <img class="w-100" id="heroImg" src="../../static/img/hero/1.png" alt="..." /> -->
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 text-md-start text-center heroTexts">
                    <h1 class="text-light fs-md-5 fs-lg-6">Service/Solution Gallery</h1>
                    <p class="text-light">Deep industry expertise, diversity in IT skill sets, tailored client
                        solutions and a
                        personal touch to client challenges. </p><a class="btn btn-primary" href="{% url 'contact' %}"
                        role="button">Get
                        In
                        Touch</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section" id="prs">
        <div class="container">
            <div class="row">
                {% for res in offer %}
                <div class="col-md-3 my-2">
                    <div class="card join-card p-3 h-100" style="border: 1px solid grey;">
                        <div class="emoji">
                            <i class="las la-desktop"></i>
                        </div>
                        <h3>
                            {{res.Name}}
                        </h3>
                        <p>
                            {{res.Description|truncatechars:90}}
                        </p>
                        <div class="whys">
                            <a href="{% url 'single' res.id %}" class="btn btn-primary"><i
                                    class="las la-arrow-right"></i>
                                LEARN MORE</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</main>

{% endblock %}